@media screen and (max-width: 640px){

    .Bloc6{
        flex-direction: column;
    }

    .footer-column{
        width: 100%;
    }

    .ensemble-photos{
        flex-direction: column;
    }

    .boite-hebergement{
        display: flex;
        flex-direction: column-reverse;
    }

    .les-filtres{
        
        display: none;
    }

    .section-hebergement {
         margin-right: none;
        background-color: none;
        border-radius: none;
        padding-right: none;
         padding-left: none
    }
    .format-1{
        height: 150px;
    }
    
    .calanques{
        width: 100%;
        margin-left: 0%;
        margin-top: -20%;
    }
    
    .footer{
        background-color: white;
    }
    
/* }   column riverse pour les hebergements */