@media screen and (max-width: 640px){


    #menu{
        padding-bottom: 20px;
    }

    body{
        margin: 0;
    }

    .menu-item{
        border-bottom: 2px solid #F2F2F2;
        width: 50%;
    }

    .menu-item-active{
        border-top: none;
        border-bottom:2px solid #0065FC;
    }

    .hebergements{
        padding-top: 0;
        
    }

    .activites{
        padding-top: 0;
    }

    .inscription{
        border-bottom: none;
        position: absolute;
        right: 0px;
        top: 30px;
    
    }

    .logo{
        
    }

    .texte{
        padding-right: 20px;
    }
    
    .section-populaire{
        border-radius: 0;
        width: 100%;
    }
    #reservia{
        padding-left: 20px;
    }

    .les-categories{
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
    }

    .categorie{
        margin: 10px;
    }
    
    #bloc1{
        display: initial;
    }

    .footer-column{
        width: 100%;
        margin: 10px;
    }

    .ensemble-photos{
        flex-direction: column;
        width: 100%;
    }

    .boite-hebergement{
        display: flex;
        flex-direction: column-reverse;
    }
     
    .bulle{
        padding: 14px;
        margin: 0px;
    }
   
    #submit-search{
        display: none;
    }
    #submit-search2{
        display: inline;
        margin-left: -16px;
        
    }
    .insertion{
        font-size: 15px;
        padding-right: 45px;
    }

    .les-filtres{
        
        display: block;
    }

    .filtres{
        padding-left: 25px;
    }

    .bloc4{
        padding: 30px 20px 20px 20px;
    }

    .bloc6{
        flex-direction: column;
        background-color: #F2F2F2;
   
    }
    .section-hebergement {
        margin: 0;
        background-color: white;
        border-radius: 3%;
        padding: 30px;
        width: 100%;
        box-sizing: border-box;
    }

    .rang1-3-photos{
        display: block;
        padding: 0 20px 10px 20px;
    }

    .rang2-3-photos{
        display: block;
    }

    .box{
        width: 100%;
        max-width: unset;
    }

    .box-2{
        width: 97%;
    }
    
    .box-activity{
        margin: 20px 0;
    }

    .onglet{
        margin: 0;
    }

    .titre2{
        margin: 0;
        padding-bottom: 20px;
    }

    .image{
        margin-top: -23%;
    }

    .format-1{
        height: 150px;
    }
    .port {
        margin-top: 0px;
        width: 100%;
        margin-left: 0px
        
    }

    .calanques{
        width: 100%;
        margin-left: 0%;
        margin-top: -20%;
    }
    
    .footer{
        background-color: white;
    }
    
    .non-du-lieu{
    
    }

    .titre-activite-marseille{
        margin-left: 40px;
    }

    .activite-1{
        margin: 0;
    }
    .ensemble-1{
        margin: 0;
    }

    .margin-footer{
        background-color: #F2F2F2;
    }
    
    .afficher-plus{
        padding-left: 0;
    }

    .activity-column{
        width: 310px;
        padding-left: 32px;
    }
}    