
/* Les marges définies pour la page exepté le footer */
.page-globale{
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin:auto
}

body{
    font-family: 'Raleway', sans-serif;
}
/* Ce qui concerne le texte normal */
p{
    font-size: 14px;
    padding: 0;
}
/* Les principaux titres */
h2{
    font-size: 18px;
    font-weight:bold;
    margin: 0;
}

/* Titre des différents logements */
h3{
    font-size: 16px;
    font-weight:bold;
    margin: 5px;
}

/* Partie 1 logo */
.logo{
    margin-top: 50px;
}

/* Partie 2 le menu */
#menu{
    display: flex;
    align-items: flex-end;
    margin-top: 5px;
    margin-bottom: 40px;
} 

/* Partie hébergements */
.hebergements{
    margin: 20px;
    color: #0065FC;
    text-decoration:none;
    color:#0065FC
}

/* Pour crée la bordure */
.bordure{
   border-top: 2px solid #0065FC;
   padding-top: 20px;
}

/* Partie activité contenant l'ancre */
.activites{
    margin: 20px;
    text-decoration:none;
    color:black
}    

/* Pour enlever soulignement ainsi que changer la couleur du lien */
a 
{
   text-decoration:none;
   color:black
}

/* Pour que le texte s'affiche en bleu lors du survol */
a:hover {
    color:#0065FC;
    }

/* Partie inscription */
.inscription{
    margin: 20px;
    color: #0065FC;
    font-weight:bold;
}

/* Enseble de la partie 1 Logo plus le menu */
#Bloc1{
   display: flex;
   justify-content: space-between;
   width: 100%;
}

/* Partie 2 Barre de recherche, filtres, icone"i" */

.sous-titre1{
margin-top: 5px;
margin-bottom: 5px;
}



/* fond de couleur pour l'icone GPS */
.bulle{
    margin-right:-3px;
    background-color: #F2F2F2;
    display: inline-block;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
 }

/* barre d'insertion */
.insertion{ 
    margin-left: -3px;   
    border: 1px solid #F2F2F2;
    font-size: 15px;
    font-weight:bold;
    padding: 15px 2px 14px 20px;
}

/* Enseble de la barre de recherche, licone GPS ainsi que la zone d'insertion */
.barre-de-recherche{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
}

/* bouton de recherche */
#submit-search{
    font-size: 16px;
    background-color: #0065FC; 
    border-radius: 15px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top:10px;
    border: none;
    margin-left: -4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* classe qui concerne l'ensemble des Filtres */
.les-filtres{
    display: flex;
    align-items: baseline;
    font-weight:bold;
    margin-left: 10px;
}

/* Classe qui concerne les différents nom des filtres (économique,familial...) */
.nom-filtre{
    margin-left: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
}

/* Le fond des différents icones  */
.icone-fond{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    
}

/* ensemble du filtre économique */
.economique{
    display: flex;
    flex-direction: row;
    margin: 25px 20px 0px 20px;
    border-color: #F2F2F2;
    border-width: 3px;
    border-style: solid;
    border-radius: 35px;
    padding-right: 20px;
    padding-left: 10px;
    height: 38px;
}

/* icone billet */
.fa-money-bill-wave{
    color: blue;
    display: flex;
    justify-content: center;
    margin-right:-px;
}

/* ensemble du filtre familial */
.familial{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 25px 20px 0px 20px;;
    border:3px solid #F2F2F2;
    border-radius: 35px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: -5px;
    padding-bottom: -5px;
    height: 38px;
}

/* icone personnage */
.fa-child{
    color: blue;
}

/* ensemble du filtre romantique */
.romantique{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 25px 20px 0px 20px;
    border-color: #F2F2F2;
    border-width: 3px;
    border-style: solid;
    border-radius: 35px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: -5px;
    padding-bottom: -5px;
    height: 38px;
    
}

/* icone coeur */
.fa-heart{
    color: blue;
}

/* ensemble du filtres annimaux autorisés */
.animaux-autorises{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 25px 20px 0px 20px;
    border: #F2F2F2 solid 3px; 
    border-radius: 35px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: -5px;
    padding-bottom: -5px;
    height: 38px;
}

/* icone chien */
.fa-dog{
    color: blue;

}

/* Ensemble de la partie information */
.informations{
    display: flex;
    
}

/* Le logo i */
.logo-info{
    margin: 10px;
    color: #0065FC;
    border: #F2F2F2 solid 2px;
    border-radius: 40px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    size: 6px
}

/* La ligne de texte qui suit le logo i */
.texte{
    margin: 10px;
    ;
}

/* Partie 3 herbergements à Marseille ,images, Afficher plus */


.titre2{
   margin: 15px 0px 15px 20px;
   
}

#ancre1{
}
.section-hebergement{
    margin-right: 50px;
    background-color: #F2F2F2;
    border-radius: 20px;
    max-height: 650px;
}

#ensemble-images{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.ensemble-textes{
    display: flex;
    flex-direction: column;
}

#Bloc5{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.boite-hebergement{
    display: flex;
}

.titre-principal{
    
    margin-left: 10px;
}

.notes-bleu{
    color: #0065FC;
}

.notes-grises{
    color: #F2F2F2;
    margin-left: ;
}

.note3{
   display: flex;
    margin: 5px 0 5px 15px;
}

.note4{
    display: flex;
    margin: 5px 0 5px 15px;
}

.note5{
    display: flex;
    margin: 5px 0 5px 15px;
}

.image{
    width: 100%;
}

.sous-titre{
    margin-left: 15px;
}

.cont-image{
    height: 60%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.image-1{
    background-color: rgb(255, 255, 255);
    width: 25%;
    height:60%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
    padding : 5px 5px 5px 5px;
    margin: 25px;
    box-shadow: 0px 2px 2px rgba(43, 43, 43, 0.411);
}
.image-2{
    background-color: rgb(255, 255, 255);
    width: 25%;
    height:60% ;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
    padding : 5px 5px 5px 5px;
    margin: 25px;
    box-shadow: 0px 2px 2px rgba(43, 43, 43, 0.411);
}
.image-3{
    background-color: rgb(255, 255, 255);
    width: 25%;
    height:60%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
    padding : 5px 5px 5px 5px;
    margin: 25px;
    box-shadow: 0px 2px 2px rgba(43, 43, 43, 0.411);
}
.image-4{
    background-color: rgb(255, 255, 255);
    width: 250px;
    height:170px ;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
    padding : 5px 5px 5px 5px;
    margin: 25px;
    box-shadow: 0px 2px 2px rgba(43, 43, 43, 0.411);
}
.image-5{
    background-color: rgb(255, 255, 255);
    width: 250px;
    height:170px ;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
    padding : 5px 5px 5px 5px;
    margin: 25px;
    box-shadow: 0px 2px 2px rgba(43, 43, 43, 0.411);
}
.image-6{
    background-color: rgb(255, 255, 255);
    width: 250px;
    height:170px ;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
    padding : 5px 5px 5px 5px;
    margin: 25px;
    box-shadow: 0px 2px 2px rgba(43, 43, 43, 0.411);
}

/* Partie 4 Les plus populaires, icone, images, */

#Bloc4{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row
    }

.section-populaire{
    background-color: #F2F2F2;
}

.images-populaires{
    margin: 10px 20px 10px 20px;
    height: 100px;
    width: 150px;
    overflow: hidden;
    text-align: center;
    border-radius: 0%, 10%, 10%, 0%;
}

.image-7{
    display: flex;
    border-radius: 20px;
    background-color: white;
    width: 95%;
}

.rang1-3-photos, .rang2-3-photos{
    display: flex;
    flex-direction: ro;
}

.informations{
    margin-bottom: 10px;
}
.les-plus-populaires{
    display: flex;
    align-items: baseline;
    margin: 40px 20px 20px 20px;
    justify-content: space-around;
}
.onglet{
    margin-left: 50px;
}



.Bloc6{
    display: flex;
    
    justify-content: space-around;
    
    width: 100%;
    margin: 30px 0px 30px 0px;
    background-color: #F2F2F2;
    padding-top: 40px;
    padding-bottom: 30px;
}
footer{
    
}
.text-ecriture-mise-en-avant{
    size: 20px;
    font-weight:bold ;
}