#menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
    padding-left:80%;
} 
    
#Bloc1{
display: flex;
}

#filtres{
display: flex;
margin: 10%;
}

#ensemble-images{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

#Bloc4{
display: flex;
align-items: flex-end;
justify-content: center;
flex-direction: column
}

#Bloc6{
display: flex;
align-items: flex-end;
justify-content: space-between;
max-width: 1000px;
width: 100%;
}

#Bloc5{
    display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.boite-hebergement{
    display: flex;
}

.section-hebergement{
    margin-right: 40px;
    background-color: gainsboro;
}

.section-populaire{
    background-color: indigo;
}

footer{
    display: flex;
    justify-content: center;
}

.page-globale{
    justify-content: center;
    margin: 0px 100px 0px 100px;
}

.rang1-3-photos, .rang2-3-photos{
    display: flex;
    flex-direction: row;
}

.image-1{
    background-color: white;
    border-radius: 5%;
}

.image{
    width: 100%;
}